*{
  margin:10px;
  padding:0px;
  font-family:arial;
  border:border-box;
}
 .navbar{
      height:150px;
	  width:1850px;
	  background-color:#f2f2f2;
	  color:white;
	} 
	.nav-logo{
		hieght:150px;
		width:200px;
	}
	.logo{
		background-image:url("grocery_logo.png");
		background-size:cover;
		background-position:left;
		background-origin:right-bottom;
		height:150px;
		width:200px;
	}